@page "/inventories"

<h3>InventoryList</h3>
<br/>
<br/>
<SearchComponent OnSearch="HandleSearch" />

<br/>

<InventoryListComponent SearchInventoryFilter="@inventoryNameToSearch"></InventoryListComponent>
<br/>

<a href="addinventory" class="btn btn-primary">Add Inventory</a>

@code {
    private string? inventoryNameToSearch;

    private void HandleSearch(string searchFilter)
    {
        inventoryNameToSearch = searchFilter;
    }

}
